:root {
  --red: #800020;
  --pearl: #f9f4ea;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  background-color: var(--pearl) !important;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
  font-size: 28px !important;
}

/* full-sized  container that fills up the page */
#root {
  height: 100%;
  width: 100%;
}

.wrapper {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;
}

.title {
  height: 50%;
}

.input-group-text {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.navbar {
  background-color: var(--red) !important;
}

.navbar .navbar-brand {
  color: var(--pearl) !important;
}

.spinner-border {
  color: var(--red) !important;
}

.bi-star-fill {
  color: var(--red) !important;
}

.salad-card {
  height: 20%;
  padding: 2px;
}

.salad-detail-card {
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.salad-card img {
  width: 100%;
  height: 125px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal-body img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 0 !important;
}

.menu {
  margin-top: 100px;
}

.food-detail-row {
  display: flex;
  justify-content: space-between;
}

.form-check-input:checked {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.payable-amount {
  font-size: 48px !important;
}

.btn-payment {
  --bs-btn-color: var(--red) !important;
  --bs-btn-border-color: var(--red) !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--red) !important;
  --bs-btn-hover-border-color: var(--red) !important;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--red) !important;
  --bs-btn-active-border-color: var(--red) !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--red) !important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--red) !important;
  --bs-gradient: none;
}

.btn-red {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--red) !important;
  --bs-btn-border-color: var(--red) !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--red);
  --bs-btn-hover-border-color: var(--red);
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--red);
  --bs-btn-active-border-color: var(--red);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--red) !important;
  --bs-btn-disabled-border-color: var(--red) !important;
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--pearl) !important;
  border: var(--bs-accordion-border-width) solid var(--red) !important;
}

.accordion-button:not(.collapsed) {
  background-color: var(--pearl) !important;
  box-shadow: #dee2e6 !important;
}

.accordion-button {
  background-color: var(--pearl) !important;
  border-radius: 10px !important;
}

#btnBackToMenu {
  color: var(--red);
}
